# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# XcodeGen
OrbitPlayer.xcodeproj/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Local configuration
*.local.xcconfig
